---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

interface Props {
  title: string
  description: string
  img: string
  link?: string
  github?: string
}

const { img, title, description, link, github } = Astro.props
---

<div
  class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
>
  <img
    alt={title}
    class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
    loading="lazy"
    src={img}
  />
  <div class="w-full p-4">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <p class="mt-2 text-gray-700 dark:text-gray-400">
      {description}
    </p>
    <footer class="flex items-end justify-start mt-4 gap-x-4">
      {
        github && (
          <LinkButton href={github}>
            <GitHub class="size-6" />
            Code
          </LinkButton>
        )
      }
      {
        link && (
          <LinkButton href={link}>
            <Link class="size-4" />
            Preview
          </LinkButton>
        )
      }
    </footer>
  </div>
</div>
