---
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import GithubIcon from "@/components/icons/GitHub.astro"
import SocialPill from "@/components/SocialPill.astro"
import data from "../../data.json"

const { personal, socialLinks } = data
const personalImageAlt = personal.imageAlt

// Icon mapping
const iconMap = {
  Mail: MailIcon,
  LinkedIn: LinkedInIcon,
  GitHub: GithubIcon
}
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={personal.image}
      alt={personalImageAlt}
    />
    <a
      href={socialLinks.find(link => link.name === "LinkedIn")?.url}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>{personal.title}</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
  Hey, I'm {personal.name}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  <strong>{personal.role}</strong>. {personal.description}
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    {socialLinks.map((social) => {
      const IconComponent = iconMap[social.icon as keyof typeof iconMap]
      return (
        <SocialPill href={social.url}>
          <IconComponent class="size-4" />
          {social.name}
        </SocialPill>
      )
    })}
  </nav>
</div>
</div>
